openapi: 3.0.1
info:
  title: Sinohope WaaS API
  version: 0.9.5
  description: 
    $ref: description.md
servers:
  - url: https://api.sinohope.com/
  - url: https://api-sandbox.sinohope.com/
tags:
  - name: Callback APIs
    description: Callback API definition. For callback rules, please refer to [MPC WaaS Quick Start](./quick-start/qs-1-waas) Related explanations。
  - name: Common APIs
    description: Some common query interfaces for multiple Lines of Business
  - name: Account&address APIs
    description: Create, manage, and query wallet account and address information
  - name: Transaction APIs
    description: Create and query transaction information, create offline signatures
  - name: Advanced APIs
    description: Advanced features allow direct signing of specified original data sources. "Advanced features" must be enabled in both the wallet group and wallet to be available.
  - name: MPC Node APIs
    description: Query MPC protocol execution information and your MPC Node online status
paths:
  /v1/call_back/transaction/notify:
    servers:
      - url: https://your.callback.url/
    post:
      tags:
        - Callback APIs
      operationId: "/v1/call_back/transaction/notify"
      summary: Transaction Notification
      description: |
       After the address has been recharged or the transaction initiated actively is put on the chain, a notification will be pushed.
       For callback rules, please refer to the relevant instructions in [MPC WaaS Quick Start] (./quick-start/qs-1-waas).
      requestBody:
        content:
          application/json:
            schema:
              required:
                - requestDetail
                - requestId
                - requestType
              type: object
              properties:
                requestType:
                  type: integer
                  description: Callback request type (0-withdrawal; 1-recharge)
                  example: 1
                requestId:
                  type: string
                  description: The unique ID of the request, unchanged after multiple calls
                  example: "413497079388421"
                requestDetail:
                  required:
                    - txHash
                    - blockHash
                    - confirmNumber
                    - long
                    - chainSymbol
                    - assetId
                    - txDirection
                    - from
                    - to
                    - amount
                    - decimal
                    - fee
                    - feeAsset
                    - feeAssetDecimal
                    - usedFee
                    - state
                  type: object
                  description: Detailed information of the callback request; the format is serialized JSON string, currently containing the following parameter content
                  properties:
                    sinoId:
                      type: string
                      description: Transaction serial number, will be returned when transferring, recharge fixed return 0
                      example: "456417158498373"
                    txHash:
                      type: string
                      description: Transaction hash, on-chain data
                      example: "0xee506b40220af3692be8b84a95a6e02d956164007d875812c1be26b594c2c27a"
                    confirmNumber:
                      type: integer
                      description: Confirmation number, currently fixed to 0
                      example: 0
                    walletId:
                      type: string
                      description: wallet id
                      example: "456541901231941"
                    chainSymbol:
                      type: string
                      description: Unique identification of the chain
                      example: ETH
                    assetId:
                      type: string
                      description: Unique asset identifier
                      example: "ETH_ETH"
                    txDirection:
                      type: integer
                      description: Transaction type：0-withdrawal; 1-recharge
                      example: 0
                    note:
                      type: string
                      description: Fill in the value when creating a withdrawal transaction, no recharge transaction
                      example: "user notes"
                    nonce:
                      type: integer
                      description: EVM compatible chain transaction nonce value, returned when the transaction type is 0 (withdrawal); returned as 0 when the transaction type is 1 (recharge)
                      example: 2
                    from:
                      type: string
                      description: from address
                      example: "0xc9cf7d652a036d65b3392dfcabc3d3c332082558"
                    to:
                      type: string
                      description: to address
                      example: "0xca1b41bc3c4ffa88e3a31bff85e3289ec375d138"
                    toTag:
                      type: string
                      description: The value is passed in when the withdrawal transaction is created, and the recharge transaction is null.
                      example: "1001"
                    amount:
                      type: string
                      description: Amount
                      example: "1230000000000000000"
                    decimal:
                      type: integer
                      description: Accuracy
                      example: 18
                    fee:
                      type: string
                      description: For withdrawal transactions, the handling fee determined when constructing the transaction
                      example: "30000000000000"
                    feeAsset:
                      type: string
                      description: Fee token identification
                      example: "ETH_ETH"
                    feeAssetDecimal:
                      type: integer
                      description: Fee token only precision
                      example: 18
                    usedFee:
                      type: string
                      description: Actual usage fee
                      example: "21000000000000"
                    gasPrice:
                      type: string
                      description: ethlike will have a value, non-ethlike will be given 0.
                      example: "1000000000"
                    gasLimit:
                      type: string
                      description: ethlike will have a value, non-ethlike will be given 0.
                      example: "60000"
                    state:
                      type: integer
                      description: 10 - The transaction was successfully uploaded to the chain; 5 - The actively initiated (contract interaction type transaction) has been uploaded to the chain, but the on-chain execution status is failed.
                      example: 10
                extraInfo:
                  type: string
                  description: Other information related to the callback request; there is currently no clear information
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  requestId:
                    type: string
                    description: The unique ID of the request, unchanged after multiple calls
                    example: "431431431431431"
                  message:
                    type: string
                    description: Error message
                    example: ""
      x-codegen-request-body-name: root
  /v1/call_back/withdrawal/confirm:
    servers:
      - url: https://your.callback.url/
    post:
      tags:
        - Callback APIs
      operationId: "/v1/call_back/withdrawal/confirm"
      summary: Withdrawal Confirmation
      description: |
        When sinohope receives a withdrawal request, it will send a confirmation request to the URL specified by the merchant.
        For callback rules, please refer to the relevant instructions in [MPC WaaS Quick Start] (./quick-start/qs-1-waas).
      requestBody:
        content:
          application/json:
            schema:
              required:
                - requestDetail
                - requestId
              type: object
              properties:
                requestId:
                  type: string
                  description: The unique ID of the request, unchanged after multiple calls
                  example: "413497079388421"
                requestDetail:
                  required:
                    - txHash
                    - sinoId
                    - walletId
                    - chainSymbol
                    - assetId
                    - from
                    - to
                    - toTag
                    - amount
                    - decimal
                    - fee
                  type: object
                  description: Detailed information of the callback request; each type of callback request corresponds to a different requestDetail structure; the format is serialized JSON string.
                  properties:
                    sinoId:
                      type: string
                      description: Sinohope is a unique identifier for withdrawal transactions
                      example: "456417158498373"
                    walletId:
                      type: string
                      description: wallet id
                      example: "456541901231941"
                    chainSymbol:
                      type: string
                      description: Unique identification of the chain
                      example: "ETH"
                    assetId:
                      type: integer
                      description: Unique token identifier
                      example: "ETH_ETH"
                    from:
                      type: string
                      description: from address
                      example: "0xc9cf7d652a036d65b3392dfcabc3d3c332082558"
                    to:
                      type: string
                      description: to address
                      example: "0xca1b41bc3c4ffa88e3a31bff85e3289ec375d138"
                    toTag:
                      type: string
                      description: tag
                      example: "1001"
                    note:
                      type: string
                      description: Fill in the value when creating a withdrawal transaction
                      example: "user notes"
                    amount:
                      type: string
                      description: Amount (before precision conversion)
                      example: "1230000000000000000"
                    decimal:
                      type: integer
                      description: Accuracy
                      example: 18
                    fee:
                      type: string
                      description: Fee
                      example: "30000000000000"
                    gasPrice:
                      type: string
                      description: ethlike will have a value, non-ethlike will be given 0.
                      example: "1000000000"
                    gasLimit:
                      type: string
                      description: ethlike will have a value, non-ethlike will be given 0.
                      example: "60000"
                extraInfo:
                  type: string
                  description: Other information related to the callback request; there is currently no clear information.
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  requestId:
                    type: string
                    description: The unique ID of the request, unchanged after multiple calls
                    example: "431431431431431"
                  message:
                    type: string
                    description: Error message
                    example: ""
                  action:
                    type: string
                    description: Task execution instructions, APPROVE approval, REJECT rejection
                    example: "APPROVE"
      x-codegen-request-body-name: root
  /v1/waas/mpc/mpcnode/list_mpc_requests:
    post:
      tags:
        - MPC Node APIs
      operationId: "/v1/waas/mpc/mpcnode/list_mpc_requests"
      summary: Query MPC protocol execution records
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/mpcnode/list_mpc_requests/",
              {
                "businessExecType": 1,
                "businessExecStatus": 1,
                "sinoId": "413497079388421",
                "pageIndex": 1,
                "pageSize": 10
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/mpcnode/list_mpc_requests/", map[string]string{
                "businessExecType": 1,
                "businessExecStatus": 1,
                "sinoId": "413497079388421",
                "pageIndex": 1,
                "pageSize": 10
            })
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessExecType:
                  type: integer
                  description: Business execution type (KeyGen type request:1, signTx type request:2, signMessage type request:3, signRawData)
                   Type of request:4)
                  example: 1
                businessExecStatus:
                  type: integer
                  description: Business execution status (in progress:0, success:1, failure:2)
                  example: 1
                sinoId:
                  type: string
                  description: sinoId, not passed by pagination query
                  example: "413497079388421"
                pageIndex:
                  $ref: '#/components/schemas/pageIndex'
                pageSize:
                  $ref: '#/components/schemas/pageSize'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        example: 1
                      pageSize:
                        type: integer
                        example: 10
                      totalSize:
                        type: integer
                        example: 10
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            requestId:
                              type: string
                              description: The unique request id generated by the user initiating the business.
                              example: "asdf123123123"
                            sinoId:
                              type: string
                              description: sinoId sinohope is a unique ID generated based on the current business
                              example: "123123123"
                            requestTime:
                              type: string
                              description: Request time, date and time string, format:yyyy-MM-dd HH:mm:ss , GMT + 8 time zone.
                              example: "2023-12-23 13:23:45"
                            param:
                              type: string
                              description: Parameter when initiating a business request to an MPC node, the specific value varies depending on the businessExecType . KeyGen:The value is the cryptographic type of the key, ecdsa-secp256k1 or eddsa-ed25519 ; other types are data to be signed.
                              example: "ecdsa-secp256k1"
                            businessExecType:
                              type: integer
                              description: Business execution type (KeyGen type request:1, signTx type request:2, signMessage)
                               Type request:3, signRawData type request:4)
                              example: 1
                            businessExecStatus:
                              type: integer
                              description: Business execution status (in progress:0, success:1, failure:2)
                              example: 1
                            isSuccess:
                              type: boolean
                              description: successful or not
                              example: true
                            failedReason:
                              type: string
                              description: Reason for failure
                              example: ""
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/mpcnode/status:
    post:
      tags:
        - MPC Node APIs
      operationId: "/v1/waas/mpc/mpcnode/status"
      summary: Query MPC node status
      description: Check the current online status of your MPC Node
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      nodeId:
                        type: string
                        description: node id
                        example: "asdf123123123"
                      onlineStatus:
                        type: integer
                        description: |-
                          Online status (offline: 0, online: 1)
                          < p > MPC Node and sinohope connection status </p >
                        example: 0
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/advance/sign_raw_data:
    post:
      tags:
        - Advanced APIs
      operationId: "/v1/waas/mpc/wallet/advance/sign_raw_data"
      summary: original data source signature
      description: Directly sign the specified data, and the signature result can be queried through the /v1/waas/mpc/web3/sign_result or issued through the callback of the MPC-node.
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/advance/sign_raw_data/",
              {
                "vaultId": "450632968208222",
                "requestId": "413497079388421",
                "walletId": "413497079382091",
                "hdPath": "m/1/1/60/0",
                "rawData": "0x4dac0911bbb5f363e04c425d84a84a98355285fb359ca212701528bf9f4164d4"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/advance/sign_raw_data/", map[string]string{
                "vaultId": "450632968208222",
                "requestId": "413497079388421",
                "walletId": "413497079382091",
                "hdPath": "m/1/1/60/0",
                "rawData": "0x4dac0911bbb5f363e04c425d84a84a98355285fb359ca212701528bf9f4164d4"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
                - hdPath
                - rawData
                - requestId
                - walletId
              type: object
              properties:
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                requestId:
                  type: string
                  description: |-
                    Unique ID
                    < p > User-generated request unique id, used for retry < p/>
                  example: "413497079388421"
                walletId:
                  type: string
                  description: wallet id
                  example: "413497079382091"
                hdPath:
                  type: string
                  description: The path corresponding to the address
                  example: "m/1/1/60/0"
                rawData:
                  type: string
                  description: Signature data
                  example: "0x4dac0911bbb5f363e04c425d84a84a98355285fb359ca212701528bf9f4164d4"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      sinoId:
                        type: string
                        description: |-
                          sinohope Id
                          < p > unique id generated by sinohope for each business < p/>
                        example: "12312321"
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/advance/gen_address_by_path:
    post:
      tags:
        - Advanced APIs
      operationId: "/v1/waas/mpc/wallet/advance/gen_address_by_path"
      summary: Create an address based on the specified path
      description: Create an address based on the specified derived path
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/advance/gen_address_by_path/",
              {
                "vaultId": "450632968208222",
                "walletId": "413497079388421",
                "index": "1",
                "algorithmType": 1,
                "coinType": 10
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/advance/gen_address_by_path/", map[string]string{
                "vaultId": "450632968208222",
                "walletId": "413497079388421",
                "index": "1",
                "algorithmType": 1,
                "coinType": 10
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
                - algorithmType
                - coinType
                - index
                - walletId
              type: object
              properties:
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                walletId:
                  type: string
                  description: wallet id
                  example: "413497079388421"
                index:
                  type: string
                  description: Used to distinguish different addresses under the same cointype of the same wallet
                  example: "1"
                algorithmType:
                  type: integer
                  description: 'Algorithm type (0: "ECDSA: secp256k1", 1: "EdDSA: ed25519") '
                  example: 1
                coinType:
                  type: integer
                  description: Reference slip-44 https://github.com/satoshilabs/slips/blob/master/slip-0044.md
                    The coin type constant defined in the middle uses a non-hardened version. According to industry practice, for all eth-like public chains, Ethereum's
                    coin type 60
                  example: 10
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: '#/components/schemas/addressInfo'
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/advance/update_wallet:
    post:
      tags:
        - Advanced APIs
      operationId: "/v1/waas/mpc/wallet/advance/update_wallet"
      summary: Update wallet properties (advanced features enabled and disabled)
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/advance/update_wallet/",
              {
                "vaultId": "450632968208222",
                "walletId": 413497079388421,
                "advancedEnabled": 1
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/advance/update_wallet/", map[string]string{
                "vaultId": "450632968208222",
                "walletId": 413497079388421,
                "advancedEnabled": 1
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
                - advancedEnabled
                - walletId
              type: object
              properties:
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                walletId:
                  type: string
                  description: |-
                    Wallet ID
                    < p > When specified, it is based on the wallet switch < p/>
                  example: "413497079388421"
                advancedEnabled:
                  type: integer
                  description: |-
                    Advanced Function Switch (Off: 0, On: 1)
                    < p > After opening the support function: create address according to the specified path, original data source signature < p/>
                  example: 1
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      updateWallet:
                        type: boolean
                        description: Modify result
                        example: true
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/common/get_supported_chains:
    post:
      tags:
        - Common APIs
      operationId: "/v1/waas/common/get_supported_chains"
      summary: Query system support chain
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      required:
                        - chainName
                        - chainSymbol
                      type: object
                      properties:
                        chainName:
                          type: string
                          description: Chain full name
                          example: "Near"
                        chainSymbol:
                          type: string
                          description: Chain name, abbreviation, chain identifier, unique
                          example: "NEAR"
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/common/get_supported_coins:
    post:
      tags:
        - Common APIs
      operationId: "/v1/waas/common/get_supported_coins"
      summary: List of supported currencies in the query chain
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/common/get_supported_coins/",
              {
                "chainSymbol": "ETH"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/common/get_supported_coins/", map[string]string{
                "chainSymbol": "ETH"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - chainSymbol
              type: object
              properties:
                chainSymbol:
                  type: string
                  description: Chain name, abbreviation, chain identifier, unique
                  example: "ETH"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    required:
                      - assetDecimal
                      - assetId
                      - assetName
                    type: object
                    properties:
                      assetName:
                        type: string
                        description: Coin full name
                        example: "ETH"
                      assetId:
                        type: string
                        description: Coin identification, unique
                        example: "ETH_ETH"
                      assetDecimal:
                        type: integer
                        description: Coin accuracy
                        example: 18
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/common/get_vaults:
    post:
      tags:
        - Common APIs
      operationId: "/v1/waas/common/get_vaults"
      summary: Vault List
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        businessType:
                          type: integer
                          description: Business type:0:self-hosted 2:waas 3:fully hosted
                          example: 2
                        vaultInfoOfOpenApiList:
                          type: array
                          description: Vault information
                          items:
                            type: object
                            properties:
                              vaultId:
                                type: string
                                description: Vault id
                                example: "450632968208222"
                              vaultName:
                                type: string
                                description: Vault name
                                example: "Test vault"
                              createTime:
                                type: string
                                description: Creation time, format yyyy-MM-dd HH:mm:ss
                                example: "2023-08-16 16:04:49"
                              authorityType:
                                type: string
                                description: Permission classification:0 All, 1 Query, 2 Operation, 3 Withdrawal, 4 Arbitrary transaction, Description:apiKey is bound to the permissions of the vault, and this field parameter appears in the form of multiple permission combinations, separated by commas. For example:"1,3"
                                example: "1"
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/create_wallets:
    post:
      tags:
        - Account&address APIs
      operationId: "/v1/waas/mpc/create_wallets"
      summary: Creating a wallet
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/create_wallets/",
              {
                "requestId": "413497079388421",
                "vaultId": "450632968208222",
                "count": 1,
                "walletInfos": [
                  {
                    "walletName": "wallet1",
                    "advancedEnabled": 1
                  }
                ]
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/create_wallets/", map[string]string{
                "count": 1,
                "walletInfos": [
                  {
                    "requestId": "413497079388421",
                    "vaultId": "450632968208222",
                    "walletName": "wallet1",
                    "advancedEnabled": 1
                  }
                ]
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
                - requestId
              type: object
              properties:
                requestId:
                  type: string
                  description: business unique value
                  example: "413497079388421"
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                count:
                  type: integer
                  description: How many to create. Default value is 1, maximum value is 50.
                  example: 1
                walletInfos:
                  type: array
                  description: |-
                    Wallet information
                    If it is not null, the count value must be consistent with the number of walletInfos
                  items:
                    type: object
                    properties:
                      walletName:
                        type: string
                        description: |-
                         Wallet name
                         If it is empty, use the default value: wallet + random value
                         When not empty: Wallet names under departments cannot be duplicated.
                        example: "wallet1"
                      advancedEnabled:
                        type: integer
                        description: |-
                          Advanced Function Switch (Off: 0, On: 1)
                          < p > After opening the support function: create address according to the specified path, original data source signature < p/>
                        example: 1
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        walletId:
                          type: string
                          description: wallet id
                          example: "413497079388421"
                        walletName:
                          type: string
                          description: Wallet name
                          example: "wallet1"
                        advancedEnabled:
                          type: integer
                          description: |-
                            Advanced Function Switch (Off: 0, On: 1)
                            < p > After opening the support function: create address according to the specified path, original data source signature < p/>
                          example: 1
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/list_addresses:
    post:
      tags:
        - Account&address APIs
      operationId: "/v1/waas/mpc/wallet/list_addresses"
      summary: Query chain address
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/list_addresses/",
              {
                "vaultId": "450632968208222",
                "walletId": "413497079388421",
                "chainSymbol": "ETH",
                "pageIndex": 1,
                "pageSize": 10
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/list_addresses/", map[string]string{
                "vaultId": "450632968208222",
                "walletId": "413497079388421",
                "chainSymbol": "ETH",
                "pageIndex": 1,
                "pageSize": 10
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
                - chainSymbol
                - walletId
              type: object
              properties:
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                walletId:
                  type: string
                  description: wallet id
                  example: "413497079388421"
                chainSymbol:
                  type: string
                  description: Chain name, abbreviation, chain identifier
                  example: "ETH"
                pageIndex:
                  $ref: '#/components/schemas/pageIndex'
                pageSize:
                  $ref: '#/components/schemas/pageSize'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        example: 1
                      pageSize:
                        type: integer
                        example: 10
                      totalSize:
                        type: integer
                        example: 4
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/addressInfo'
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/generate_chain_addresses:
    post:
      tags:
        - Account&address APIs
      operationId: "/v1/waas/mpc/wallet/generate_chain_addresses"
      summary: Generate chain address
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/generate_chain_addresses/",
              {
                "requestId": "413497079388421",
                "vaultId": "450632968208222",
                "walletId": "413497079388421",
                "count": 1,
                "chainSymbol": "ETH"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/generate_chain_addresses/", map[string]string{
                "requestId": "413497079388421",
                "vaultId": "450632968208222",
                "walletId": "413497079388421",
                "count": 1,
                "chainSymbol": "ETH"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
                - chainSymbol
                - walletId
                - requestId
              type: object
              properties:
                requestId:
                  type: string
                  description: business unique value
                  example: "413497079388421"
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                walletId:
                  type: string
                  description: wallet id
                  example: "413497079388421"
                count:
                  type: integer
                  description: How many to create. Default value is 1, maximum value is 50.
                  example: 1
                chainSymbol:
                  type: string
                  description: Chain name, abbreviation, chain identifier, unique
                  example: "ETH"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/addressInfo'
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/list_wallets:
    post:
      tags:
        - Account&address APIs
      operationId: "/v1/waas/mpc/wallet/list_wallets"
      summary: Query wallet list
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/list_wallets/",
              {
                "vaultId": "450632968208222",
                "pageIndex": 1,
                "pageSize": 10
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/list_wallets/", map[string]string{
                "vaultId": "450632968208222",
                "pageIndex": 1,
                "pageSize": 10
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
              type: object
              properties:
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                pageIndex:
                  $ref: '#/components/schemas/pageIndex'
                pageSize:
                  $ref: '#/components/schemas/pageSize'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        example: 1
                      pageSize:
                        type: integer
                        example: 10
                      totalSize:
                        type: integer
                        example: 0
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            walletId:
                              type: string
                              description: wallet id
                              example: "413497079388421"
                            walletName:
                              type: string
                              description: Wallet name
                              example: "wallet1"
                            advancedEnabled:
                              type: integer
                              description: |-
                                Advanced Function Switch (Off: 0, On: 1)
                                < p > After opening the support function: create an address according to the specified path, the original data source signature < p/>
                              example: 1
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/list_added_chains:
    post:
      tags:
        - Account&address APIs
      operationId: "/v1/waas/mpc/wallet/list_added_chains"
      summary: Query the chain with the added address under the specified wallet and its first address information
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/list_added_chains/",
              {
                "vaultId": "450632968208222",
                "walletId": "413497079388421"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/list_added_chains/", map[string]string{
                "vaultId": "450632968208222",
                "walletId": "413497079388421"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
                - walletId
              type: object
              properties:
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                walletId:
                  type: string
                  description: wallet id
                  example: "413497079388421"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      required:
                        - chainSymbol
                        - firstAddressInfo
                      type: object
                      properties:
                        chainSymbol:
                          type: string
                          description: Chain name, abbreviation, chain identifier
                          example: "ETH"
                        firstAddressInfo:
                          $ref: '#/components/schemas/addressInfo'
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/get_address_balance:
    post:
      tags:
        - Account&address APIs
      operationId: "/v1/waas/mpc/wallet/get_address_balance"
      summary: Query address balance information
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/get_address_balance/",
              {
                "assetId": "USDT_ETH",
                "address": "0x4dac0911bbb5f363e04c425d84a84a98355285fb359ca212701528bf9f4164d4"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/get_address_balance/", map[string]string{
                "assetId": "USDT_ETH",
                "address": "0x4dac0911bbb5f363e04c425d84a84a98355285fb359ca212701528bf9f4164d4"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - assetId
              type: object
              properties:
                assetId:
                  type: string
                  description: Coin name, abbreviation, coin identification, unique
                  example: "USDT_ETH"
                address:
                  type: string
                  description: Address
                  example: "0x4dac0911bbb5f363e04c425d84a84a98355285fb359ca212701528bf9f4164d4"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    required:
                      - assetDecimal
                      - assetId
                      - balance
                      - chainSymbol
                    type: object
                    properties:
                      chainSymbol:
                        type: string
                        description: Chain name, abbreviation, chain identifier
                        example: "BTC"
                      assetId:
                        type: string
                        description: Coin name, abbreviation, coin identification
                        example: "USDT_BTC"
                      balance:
                        type: string
                        description: |-
                          Amount
                          < p > For example, 1 eth, precision 18 bits, here is 10 ^ 18 Wei, 1,000,000,000,000,000,000 < p/>
                        example: "12223111"
                      assetDecimal:
                        type: integer
                        Description: Currency accuracy
                        example: 18
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/is_valid_address:
    post:
      tags:
        - Account&address APIs
      operationId: "/v1/waas/mpc/is_valid_address"
      summary: Check if the currency address is correct
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/is_valid_address/",
              {
                "assetId": "USDT_ETH",
                "address": "0x67d0F791D950CdC25Ac44bA249328022f4df93b6"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/is_valid_address/", map[string]string{
                "assetId": "USDT_ETH",
                "address": "0x67d0F791D950CdC25Ac44bA249328022f4df93b6"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - assetId
              type: object
              properties:
                assetId:
                  type: string
                  description: Currency code, currency identification, unique
                  example: "USDT_ETH"
                address:
                  type: string
                  description: Address
                  example: "0x67d0F791D950CdC25Ac44bA249328022f4df93b6"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      isValid:
                        type: boolean
                        description: Inspection results
                        example: true
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/transfer_address_book:
    post:
      tags:
        - Account&address APIs
      operationId: "/v1/waas/mpc/wallet/transfer_address_book"
      summary: After the current vault settings switch, the address book that supports transfers
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/transfer_address_book/",
              {
                "vaultId": "450632968208222",
                "chainSymbol": "ETH",
                "pageIndex": 1,
                "pageSize": 10
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/transfer_address_book/", map[string]string{
                "vaultId": "450632968208222",
                "chainSymbol": "ETH",
                "pageIndex": 1,
                "pageSize": 10
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
                - chainSymbol
              type: object
              properties:
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                chainSymbol:
                  type: string
                  description: Chain name, abbreviation, chain identifier, unique
                  example: "ETH"
                pageIndex:
                  $ref: '#/components/schemas/pageIndex'
                pageSize:
                  $ref: '#/components/schemas/pageSize'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        example: 1
                      pageSize:
                        type: integer
                        example: 10
                      totalSize:
                        type: integer
                        example: 10
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                              description: Address
                              example: "0x4dac0911bbb5f363e04c425d84a84a98355285fb359ca212701528bf9f4164d4"
                  success:
                    type: boolean
      x-codegen-request-body-name: root
  /v1/waas/mpc/wallet/transfer_risk_control_switch:
    post:
      tags:
        - Account&address APIs
      operationId: "/v1/waas/mpc/wallet/transfer_risk_control_switch"
      summary: Check whether the current vault has set the risk control switch
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/wallet/transfer_risk_control_switch/",
              {
                "vaultId": "450632968208222"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/wallet/transfer_risk_control_switch/", map[string]string{
              "vaultId": "450632968208222"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
              type: object
              properties:
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      riskControlEnabled:
                        type: boolean
                        description: risk control switch (true on, false off)
                  success:
                    type: boolean
      x-codegen-request-body-name: root

  /v1/waas/mpc/transaction/fee:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/transaction/fee"
      summary: Estimate transaction costs
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/transaction/fee",
              {
                "chainSymbol": "GOERLI",
                "operationType": "TRANSFER",
                "from": "0xcec96d6b9a0ba75f1dcb882454ad582f273b2842",
                "to": "0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad",
                "assetId": "ETH_GOERLI",
                "amount" : "123"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/transaction/fee", map[string]string{
                "chainSymbol": "GOERLI",
                "operationType": "TRANSFER",
                "from": "0xcec96d6b9a0ba75f1dcb882454ad582f273b2842",
                "to": "0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad",
                "assetId": "ETH_GOERLI",
                "amount" : "123"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - operationType
                - chainSymbol
                - from
                - to
              type: object
              properties:
                operationType:
                  type: string
                  description: 'Transaction type, required TRANSFER: Transfer CONTRACT_CALL: web3 contract call'
                  example: 'CONTRACT_CALL'
                from:
                  type: string
                  description: 'from address'
                  example: '0xcec96d6b9a0ba75f1dcb882454ad582f273b2842'
                to:
                  type: string
                  description: 'to address, required, if it is a contract call, fill in the contract address'
                  example: '0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad'
                assetId:
                  type: string
                  description: 'Asset id, required if the transaction type is TRANSFER.'
                  example: 'ETH_GOERLI'
                chainSymbol:
                  type: string
                  description: 'Chain Identification'
                  example: "GOERLI"
                amount:
                  type: string
                  description: 'Transfer amount, if the chain belongs to btc like, the amount must be transmitted.'
                  example: "123"
                inputData:
                  type: string
                  description: 'If the transaction type is CONTRACT_CALL contract call, inputData is required.'
                  example: "0xf86407850271d94900825208943fc91a3afd70395cd496c647d5a6cc9d4b2b7fad80802da0a635c2bf652f4eb9980c27544320376759c22ad70b7d67c21adc1fcfd5b11eeca0068a8a2610c3e36940368172d6a80dc7eac3f090e616aec23c27eccaf581e550"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    required:
                      - transactionFee
                    type: object
                    properties:
                      transactionFee:
                        required:
                          - slowFee
                          - averageFee
                          - fastFee
                        type: object
                        properties:
                          slowFee:
                            type: string
                            description: 'Low transaction fees'
                            example: '200'
                          averageFee:
                            type: string
                            description: "Mid-range transaction fee"
                            example: '1111'
                          fastFee:
                            type: string
                            description: 'High-end transaction fees'
                            example: '2222'
                          feePerByte:
                            type: string
                            description: 'The cost per byte is returned by btc like chain.'
                            example: '1111'
                      gasFee:
                        type: object
                        description: Estimated cost details for ETH and EVM compatible chains
                        properties:
                          slow:
                            type: object
                            properties:
                              gasPrice:
                                type: string
                                description: 'gasPrice'
                              gasLimit:
                                type: string
                                description: 'gasLimit'
                          average:
                            type: object
                            properties:
                              gasPrice:
                                type: string
                                description: 'gasPrice'
                              gasLimit:
                                type: string
                                description: 'gasLimit'
                          fast:
                            type: object
                            properties:
                              gasPrice:
                                type: string
                                description: 'gasPrice'
                              gasLimit:
                                type: string
                                description: 'gasLimit'
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/transaction/create_transfer:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/transaction/create_transfer"
      summary: Initiate a transfer transaction
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/transaction/create_transfer/",
              {
                "vaultId": "450632968208222",
                "walletId": "52321312",
                "requestId": "2132134",
                "chainSymbol": "ETH",
                "assetId": "USDC_ETH",
                "from": "0xc429aeda8bf786cf092224dddadbc0813f9f230b",
                "to": "0x546A62c54F50D57D30478C8C275360f20239A23E",
                "toTag": "32143",
                "amount": "1200000000000000",
                "fee": "1000000",
                "fee_rate": "1",
                "gasPrice": "13250000",
                "gasLimit": "21000",
                "note": "User information note"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/transaction/create_transfer/", map[string]string{
                "vaultId": "450632968208222",
                "walletId": "52321312",
                "requestId": "2132134",
                "chainSymbol": "ETH",
                "assetId": "USDC_ETH",
                "from": "0xc429aeda8bf786cf092224dddadbc0813f9f230b",
                "to": "0x546A62c54F50D57D30478C8C275360f20239A23E",
                "toTag": "32143",
                "amount": "1200000000000000",
                "fee": "1000000",
                "fee_rate": "1",
                "gasPrice": "13250000",
                "gasLimit": "21000",
                "Note": "User information note"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - vaultId
                - walletId
                - amount
                - assetId
                - chainSymbol
                - from
                - requestId
                - to
              type: object
              properties:
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                walletId:
                  type: string
                  description: wallet id
                  example: "456042601079301"
                requestId:
                  type: string
                  description: requestId of the requestor transaction
                  example: "2132134"
                chainSymbol:
                  type: string
                  description: Chain ID
                  example: ETH
                assetId:
                  type: string
                  description: Asset id
                  example: USDC_ETH
                from:
                  type: string
                  description: from address
                  example: "0xc429aeda8bf786cf092224dddadbc0813f9f230b"
                to:
                  type: string
                  description: to address
                  example: "0x546A62c54F50D57D30478C8C275360f20239A23E"
                toTag:
                  type: string
                  description: memo
                  example: "32143"
                amount:
                  type: string
                  description: Amount
                  example: "1200000000000000"
                fee:
                  type: string
                  description: Fee, for transactions on non-EVM compatible chains of UTXO class, self-set fee, if the parameter is provided for UTXO asset transfer, it represents the fee per byte
                  example: "60000000000000"
                fee_rate:
                  type: string
                  description: Fee rate 1:Fast 2:Medium 3:Slow
                  example: "1"
                gasPrice:
                  type: string
                  description: Trading gasPrice, fuel price, ETH account model applicable, unit is wei
                  example: "1000000000"
                gasLimit:
                  type: string
                  description: Trading gasLimit, fuel cap, ETH account model applicable
                  example: "60000"
                note:
                  type: string
                  description: Note:Used for some note information that users need
                  example: User transaction information remarks
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/transactionRecord"
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/transaction/create_transaction:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/transaction/create_transaction"
      summary: Initiate any transaction
      description: Initiate any transaction, currently mainly hosting EVM compatible chain
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/transaction/create_transaction/",
              {
                "vaultId": "450632968208222",
                "walletId": "435663",
                "requestId": "3423434",
                "chainSymbol": "ETH",
                "from": "0xd3912f1a067d3fd45a705de4f224a1f41e07081d",
                "to": "0x88a0315ec02224e1ed487193f4d650c5b57051e1",
                "toTag": "23133",
                "amount": "",
                "fee": "12000",
                "fee_rate": "1",
                "gasPrice": "2300000",
                "gasLimit": "21000",
                "inputData":
            "0x095ea7b300000000000000000000000057a1a5869ce3203689d1785b02b55257cb3e1dc60000000000000000000000000000000000000000000000000000000000989680",
                "note": "User transaction information note"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/transaction/create_transaction/", map[string]string{
                "vaultId": "450632968208222",
                "walletId": "435663",
                "requestId": "3423434",
                "chainSymbol": "ETH",
                "from": "0xd3912f1a067d3fd45a705de4f224a1f41e07081d",
                "to": "0x88a0315ec02224e1ed487193f4d650c5b57051e1",
                "toTag": "23133",
                "amount": "",
                "fee": "12000",
                "fee_rate": "1",
                "gasPrice": "2300000",
                "gasLimit": "21000",
                "inputData":
            "0x095ea7b300000000000000000000000057a1a5869ce3203689d1785b02b55257cb3e1dc60000000000000000000000000000000000000000000000000000000000989680",
                "note": "User transaction information note"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - requestId
                - vaultId
                - walletId
                - chainSymbol
                - from
                - to
              type: object
              properties:
                requestId:
                  type: string
                  description: The unique identifier of the requesting party for this request
                  example: "3423434"
                vaultId:
                  type: string
                  description: Vault id
                  example: "450632968208222"
                walletId:
                  type: string
                  description: wallet id
                  example: "456042601079301"
                chainSymbol:
                  type: string
                  description: Chain ID
                  example: ETH
                from:
                  type: string
                  description: from address
                  example: "0xd3912f1a067d3fd45a705de4f224a1f41e07081d"
                to:
                  type: string
                  description: to address
                  example: "0x88a0315ec02224e1ed487193f4d650c5b57051e1"
                toTag:
                  type: string
                  description: Transaction memo
                  example: ""
                amount:
                  type: string
                  description: Main chain coin amount
                  example: "0"
                fee:
                  type: string
                  description: Fee, for transactions on non-EVM compatible chains of UTXO class, self-set fee, if the parameter is provided for UTXO asset transfer, it represents the fee per byte
                  example: "60000000000000"
                fee_rate:
                  type: string
                  description: Fee rate 1:Fast 2:Medium 3:Slow
                  example: "1"
                gasPrice:
                  type: string
                  description: Trading gasPrice, fuel price, ETH account model applicable, unit is wei
                  example: "1000000000"
                gasLimit:
                  type: string
                  description: Trading gasLimit, fuel cap, ETH account model applicable
                  example: "60000"
                inputData:
                  type: string
                  description: Ethereum transaction data
                  example: "0x095ea7b300000000000000000000000057a1a5869ce3203689d1785b02b55257cb3e1dc60000000000000000000000000000000000000000000000000000000000989680"
                note:
                  type: string
                  description: Note:Used for some note information that users need
                  example: "User Transaction Information Remarks"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/transactionRecord"
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/transaction/speedup_transaction:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/transaction/speedup_transaction"
      summary: Transaction Acceleration
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/transaction/speedup_transaction/",
              {
                "requestId": "123234,45345,324234",
                "gasLimit": "21000",
                "gasPrice": "1300000",
                "fee": "344000",
                "chainSymbol": "ETH",
                "sinoId": "sinoId for accelerating transactions"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/transaction/speedup_transaction/", map[string]string{
                "requestId": "123234,45345,324234",
                "gasLimit": "21000",
                "gasPrice": "1300000",
                "fee": "344000",
                "chainSymbol": "ETH",
                "sinoId": "sinoId for accelerating transactions"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - requestId
                - sinoId
              type: object
              properties:
                requestId:
                  type: string
                  description: requestId of the current request
                  example: 123234,45345,324234
                sinoId:
                  type: string
                  description: sinoId of the transaction to be accelerated
                  example: 1
                chainSymbol:
                  type: string
                  description: Chain ID
                  example: ETH
                gasLimit:
                  type: string
                  description: Trading gasLimit, fuel cap, ETH account model applicable
                  example: 21000
                gasPrice:
                  type: string
                  description: Trading gasPrice, fuel price, ETH account model applicable, unit is wei
                  example: 1300000
                fee:
                  type: string
                  description: Fee, for transactions on non-EVM compatible chains of UTXO class, self-set fee, if the parameter is provided for UTXO asset transfer, it represents the fee per byte
                  example: 344000

        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/transactionRecord"
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/transaction/cancel_transaction:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/transaction/cancel_transaction"
      summary: Cancelled Transaction
      description: Transaction cancellation, this method only supports EVM compatible chain series transaction cancellation
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/transaction/cancel_transaction/",
              {
                "requestId": "64534",
                "chainSymbol": "ETH",
                "sinoId": "1"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/transaction/cancel_transaction/", map[string]string{
                "requestId": "64534",
                "chainSymbol": "ETH",
                "sinoId": "1"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - requestId
                - sinoId
              type: object
              properties:
                requestId:
                  type: string
                  description: Unique identifier of the request
                  example: 64534
                sinoId:
                  type: string
                  description: The sinoId corresponding to the transaction to be cancelled.
                  example: 1
                chainSymbol:
                  type: string
                  description: Chain ID
                  example: ETH
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/transactionRecord"
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/transaction/list_transactions:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/transaction/list_transactions"
      summary: Transaction List
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/transaction/list_transactions/",
              {
                "address": "0x4b67ec7fb5804dc645d584a715792f7ca76caace",
                "sinoId": "1,2",
                "requestId": "433352715218629,433352715218629",
                "txHash": "0x4c32136443dc0d0eb7584f0d991fb1a4602323b97f6f1a064de3db19e95d2f16",
                "chainSymbol": "ETH",
                "assetId": "USDC_ETH",
                "pageIndex": 1,
                "pageSize": 10,
                "startUpdateTime": "2022-02-02 00:00:00",
                "endUpdateTime": "2022-03-02 00:00:00"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/transaction/list_transactions/", map[string]string{
                "address": "0x4b67ec7fb5804dc645d584a715792f7ca76caace",
                "sinoId": "1,2",
                "requestId": "433352715218629,433352715218629",
                "txHash": "0x4c32136443dc0d0eb7584f0d991fb1a4602323b97f6f1a064de3db19e95d2f16",
                "chainSymbol": "ETH",
                "assetId": "USDC_ETH",
                "pageIndex": 1,
                "pageSize": 10,
                "startUpdateTime": "2022-02-02 00:00:00",
                "endUpdateTime": "2022-03-02 00:00:00"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - chainSymbol
              type: object
              properties:
                address:
                  type: string
                  description: link address
                  example: "0x4b67ec7fb5804dc645d584a715792f7ca76caace"
                sinoIds:
                  type: string
                  description: Obtain a list of confirmed transaction records through sinoIds query. Sinoid is the unique identifier of sinohope transaction ID, separated by commas. Sinoid cannot exceed 50
                  example: 1,2
                requestIds:
                  type: string
                  description: Obtain a list of confirmed transaction records through requestIds query. RequestId is separated by commas and cannot exceed 50 requestId
                  example: 433352715218629,433352715218629
                txHash:
                  type: string
                  description: Transaction hash
                  example: "0x4c32136443dc0d0eb7584f0d991fb1a4602323b97f6f1a064de3db19e95d2f16"
                chainSymbol:
                  type: string
                  description: Chain ID
                  example: ETH
                assetId:
                  type: string
                  description: Asset id
                  example: USDC_ETH
                pageIndex:
                  $ref: '#/components/schemas/pageIndex'
                pageSize:
                  $ref: '#/components/schemas/pageSize'
                startUpdateTime:
                  type: string
                  description: According to the update time query, start time, pass the start time, start and end also have to bring (format "2022-02-02 00:00:00")
                  example: 2022-02-02 00:00:00
                endUpdateTime:
                  type: string
                  Description: According to the update time query, the end time, the end time is passed, and the start time must also be included (2022-02-02 00:00:00))
                  example: 2022-03-02 00:00:00
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        example: 1
                      pageSize:
                        type: integer
                        example: 10
                      totalSize:
                        type: integer
                        example: 10
                      list:
                        type: array
                        description: Transaction record list
                        items:
                          $ref: '#/components/schemas/transactionRecord'
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/transaction/transactions_by_request_ids:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/transaction/transactions_by_request_ids"
      summary: Query transaction list based on requestIds
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/transaction/transactions_by_request_ids/",
              {
                "requestIds": "433352715218629,433352715218629"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/transaction/transactions_by_request_ids/", map[string]string{
                "requestIds": "433352715218629,433352715218629"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - requestIds
              type: object
              properties:
                requestIds:
                  type: string
                  description: Obtain a list of confirmed transaction records through requestIds query. RequestId is separated by commas, cannot be empty, and cannot exceed 50
                  example: 433352715218629,433352715218629
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        example: 1
                      pageSize:
                        type: integer
                        example: 10
                      totalSize:
                        type: integer
                        example: 10
                      list:
                        type: array
                        description: Transaction record list
                        items:
                          $ref: '#/components/schemas/transactionRecord'
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/transaction/transactions_by_sino_ids:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/transaction/transactions_by_sino_ids"
      summary: Query transaction list based on sinoIds
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/transaction/transactions_by_sino_ids/",
              {
                "sinoIds": "1,2,3,4"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/transaction/transactions_by_sino_ids/", map[string]string{
                "sinoIds": "1,2,3,4"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - sinoIds
              type: object
              properties:
                sinoIds:
                  type: string
                  description: Obtain a list of confirmed transaction records through sinoId query. Sinoid is the unique identifier of sinohope transaction ID, separated by commas, cannot be empty, and cannot exceed 50
                  example: 1,2,3,4
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        example: 1
                      pageSize:
                        type: integer
                        example: 10
                      totalSize:
                        type: integer
                        example: 10
                      list:
                        type: array
                        description: Transaction record list
                        items:
                          $ref: '#/components/schemas/transactionRecord'
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/transaction/transactions_by_tx_hash:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/transaction/transactions_by_tx_hash"
      summary: Query transaction list based on txHash
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/transaction/transactions_by_tx_hash/",
              {
                "txHash": "0x4c32136443dc0d0eb7584f0d991fb1a4602323b97f6f1a064de3db19e95d2f16",
                "chainSymbol": "ETH"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/transaction/transactions_by_tx_hash/", map[string]string{
                "txHash": "0x4c32136443dc0d0eb7584f0d991fb1a4602323b97f6f1a064de3db19e95d2f16",
                "chainSymbol": "ETH"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - txHash
                - chainSymbol
              type: object
              properties:
                txHash:
                  type: string
                  description: Query and obtain the list of confirmed transaction records through transaction txHash
                  example: "0x4c32136443dc0d0eb7584f0d991fb1a4602323b97f6f1a064de3db19e95d2f16"
                chainSymbol:
                  type: string
                  description: Chain ID
                  example: ETH
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      pageIndex:
                        type: integer
                        example: 1
                      pageSize:
                        type: integer
                        example: 10
                      totalSize:
                        type: integer
                        example: 10
                      list:
                        type: array
                        description: Transaction record list
                        items:
                          $ref: '#/components/schemas/transactionRecord'
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/web3/sign_message:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/web3/sign_message"
      summary: Signing messages according to known specifications (EIP-191, EIP-712)
      description: Messages are signed according to known specifications (EIP-191, EIP-712), and the signature results can be queried through the /v1/waas/mpc/web3/sign_result or issued through the callback of the MPC-node.
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/web3/sign_message/",
              {
                "requestId": "4242342,324234",
                "chainSymbol": "ETH",
                "hdPath": "m/1/1/60/0",
                "signAlgorithm": "personal_sign",
                "message": "232313c429aeda8bf786cf092224dddadbc0813f9f230b"
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/web3/sign_message/", map[string]string{
                "requestId": "4242342,324234",
                "chainSymbol": "ETH",
                "hdPath": "m/1/1/60/0",
                "signAlgorithm": "personal_sign",
                "message": "232313c429aeda8bf786cf092224dddadbc0813f9f230b"
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
                - chainSymbol
                - hdPath
                - message
                - requestId
                - signAlgorithm
              type: object
              properties:
                requestId:
                  type: string
                  description: requestId of the requestor transaction
                  example: 4242342,324234
                chainSymbol:
                  type: string
                  description: Chain
                  example: ETH
                hdPath:
                  type: string
                  description: Derivation path of bip32 and bip44
                  example: m/1/1/60/0
                signAlgorithm:
                  type: string
                  description: 'Supported signature algorithms: (personal_sign, signTypedData, eth_signTypedData_v3, eth_signTypedData_v4) '
                  example: personal_sign
                message:
                  type: string
                  description: String information to be signed
                  example: "232313c429aeda8bf786cf092224dddadbc0813f9f230b"
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      sinoId:
                        type: string
                        description: sinoId
                        example: "456417158498600"
                      messageHash:
                        type: string
                        description: Signature information, message hash to be signed
                        example: "0x88665533e51d1939c18289e2a13c72a0348843f1ea97806d0902e4f4340595b9"
                  success:
                    type: boolean
                description: ""
      x-codegen-request-body-name: root
  /v1/waas/mpc/web3/sign_result:
    post:
      tags:
        - Transaction APIs
      operationId: "/v1/waas/mpc/web3/sign_result"
      summary: Query signature results
      x-codeSamples:
        - lang: 'python'
          label: 'python'
          source: |
            request(
              "POST",
              "/v1/waas/mpc/web3/sign_result/",
              {
                "requestId": "433352715218629",
                "sinoId": 433352715218629
              },
              api_key, host
            )
        - lang: 'go'
          label: 'go'
          source: |
            Request("POST", "/v1/waas/mpc/web3/sign_result/", map[string]string{
                "requestId": "433352715218629",
                "sinoId": 433352715218629
            })
      requestBody:
        content:
          application/json:
            schema:
              required:
              type: object
[...]
